// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: image-url("pageBG.png");
  height: 100%;
  min-height: 100%;
  width: 100%;
}
.tvContainer {
  height: 700px;
  width: 790px;
  margin: 0 auto;
  margin-top: 40px;
}
.atari {
  margin-left: 200px;
}
.tv{
  position: absolute;
  z-index: 100;
}

#canvas {
  position: absolute;
  z-index: 1;
  margin-left: 62px;
  margin-top: 64px;
}